---
template: "pages/reference_grid.html"
page_id: "html-reference-grid"
reference_tiles:
  -
    tagname: "a"
    categories: "inline links phrases"
    attributes:
      -
        name: "href"
        value: "./reports?report=qr46"
      -
        name: "rel"
        value: "alternate"
      -
        name: "target"
        value: "_blank"
      -
        name: "download"
        value: "quarterly_report.pdf"
      -
        name: "type"
        value: "application/pdf"
    text: "Querterly Report"
  -
    tagname: "div"
    categories: "block sections grouping"
    attributes:
      -
        name: "class"
        value: "reports"
    text: "&lt;p&gt;&hellip;&lt;/p&gt;&lt;p&gt;&hellip;&lt;/p&gt;"
  -
    tagname: "header"
    categories: "block sections grouping"
    attributes:
      -
        name: "id"
        value: "site-branding"
      -
        name: "class"
        value: "banner"
    text: "Acme Corp"
  -
    tagname: "img"
    categories: "inline embedded-content"
    attributes:
      -
        name: "src"
        value: "/images/john-doe-avatar.jpg"
      -
        name: "alt"
        value: "John Doe's avatar"
      -
        name: "height"
        value: "150"
      -
        name: "width"
        value: "120"
      -
        name: "crossorigin"
        value: "anonymous"
      -
        name: "usemap"
        value: "#head-map"
      -
        name: "ismap"
---


<ul id="html-elements-grid" class="reference-grid">
  {% for item in reference_tiles %}
  <li class="{{ item.categories }}"><code>
    <strong class="tagname">&lt;{{ item.tagname }}</strong><br>
    {% for attr in item.attributes %}
      <span class="attr-name">{{ attr.name }}</span>{% if attr.value %}<span class="attr-eq">=</span><span class="attr-val">"{{ attr.value }}"</span>{% endif %}<br>
    {% endfor %}
    {% if item.text %}
    <strong>&gt;</strong><span class="text">{{ item.text }}</span><strong class="tagname">&lt;/{{ item.tagname }}&gt;</strong>
    {% else %}
    <strong>&gt;</strong>
    {% endif %}
  </code></li>
  {% endfor %}
</ul>

<section id="tag-a-card" class="reference-card">
  <ul>
    <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/a">
      &lt;a&gt; on Mozilla Developer Network</a>
    </li>
    <li><a href="http://www.w3.org/TR/html5/text-level-semantics.html#the-a-element">
      &lt;a&gt; W3C Spec</a>
    </li>
  </ul>
</section>

<section id="tag-header-card" class="reference-card">
  <ul>
    <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/header">
      &lt;header&gt; on Mozilla Developer Network</a>
    </li>
    <li><a href="http://www.w3.org/TR/html5/sections.html#the-header-element">
      &lt;header&gt; W3C Spec</a>
    </li>
  </ul>
</section>

<section id="tag-div-card" class="reference-card">
  <ul>
    <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/div">
      &lt;div&gt; on Mozilla Developer Network</a>
    </li>
    <li><a href="http://www.w3.org/TR/html5/grouping-content.html#the-div-element">
      &lt;div&gt; W3C Spec</a>
    </li>
  </ul>
</section>
