<!DOCTYPE html>
<html class="no-javascript">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <script>
  document.documentElement.className = 'javascript';
  </script>
  <link rel="stylesheet" href="{{ stylesheet_path }}">
</head>
<body>

<header id="header">
  <div class="hgroup">
    <img src="/assets/images/HTML5_Badge_32.png" alt="W3C HTML5 badge" />
    <a href="/">The HTML and CSS Tutorial</a>
  </div>
</header><!-- #header -->

<div id="wrapper">
  {% block body %}
  {% endblock %}
</div><!-- #wrapper -->

<footer id="footer">
  <p>
    This site is cool because it has&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="/assets/images/html5-badge.png" alt="W3C HTML5 badge" />
    and it has a flat design (mostly because I'm lazy).
  </p>
</footer>

{% include "../partials/google_analytics.html" %}
{% include "../partials/kissmetrics.html" %}

<script src="{{ script_path }}"></script>

</body>
</html>
